.container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.container:hover {
    box-shadow: 1px 3px 5px lightgray;
}

.imgContainer {
    /* transition: all .3s ease;
    transform: scale(1.1); */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.like {
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 20;
    font-size: 36px;
    background: rgba(221, 221, 221, .2);
    opacity: .8;
    border: none;
    border-radius: 50%;
}


/* .image {
    width: 300px;
    height: 300px;
    width: 100%;
    height: 100%;
    opacity: .9;
    position: relative;
} */

/* .image:hover {
    transition: all .4s ease;
    transform: scale(1.07);
} */
.textContainer {
   display: flex;
   flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    font-size: 24px;
    margin: 5px 0;
    white-space: nowrap;
    font-weight: bold;
}

.pTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.star {
   display: flex;

   align-items: center;
    
}

.flow {
    font-size: 16px;
    margin: 5px 0;
    color: gray;
}

.time {
    font-size: 12px;
    margin: 5px 0;
    color: gray;
}

.pay {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
    font-family: 'Tektur', sans-serif, serif;
}