.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 56px;
    padding: 0 10px;
    gap: 0;
}

.local {
    font-size: 6px;
    padding: 15px 0 0 0;
    /* margin: 5px 0; */
}

.country {
    padding-bottom: 15px;
    margin: 0;
    
}